 .container {
     display: flex;
     justify-content: center;
     align-items: center;
     flex-direction: row;
     background-color: peru;
     margin-top: 3rem;
     margin-bottom: 3rem;

     .form {
         display: flex;
         justify-content: center;
         align-items: center;
         flex-direction: column;
         background-color: peru;
         margin: 3rem;
         flex-grow: 1;

         .title {
             color: var(--bs-primary);
         }

         &>:nth-child(2)>input {
             color: red;
         }

         &>:nth-child(3)>input {
             color: green;
         }

         &>:nth-child(4)>input {
             color: blue;
         }

         &>:nth-child(5)>input {
             color: rgb(192, 19, 163);
         }
     }

     .image {
         display: flex;
         align-items: center;
         justify-content: center;
         // margin-left: 4rem;
         height: 20rem;
         width: fit-content;

         .img {
             // height: 100rem;
             // width: 5rem;
         }

         flex-shrink: 1;
         //  width: 2rem;
     }



 }

 button {
     color: var(--bs-primary);
     background-color: rgb(102, 225, 154);

     &:hover {
         color: var(--bs-primary);
         background-color: rgb(11, 127, 23);
     }
 }