 .container {
     display: flex;
     justify-content: center;
     align-items: center;
     flex-direction: row;
     background-color: peru;
     margin-top: 3rem;
     margin-bottom: 3rem;

     .form {
         display: flex;
         justify-content: center;
         align-items: center;
         flex-direction: column;
         background-color: peru;
         margin: 3rem;
         flex-grow: 1;

         .title {
             color: var(--bs-primary);
         }
     }

     .image {
        flex-shrink: 1;
         width: 10rem;
     }

    //  span {
    //      color: var(--bs-primary);
    //  }

     .player1 {
         color: red;
     }

     .player2 {
         color: green;
     }

     .player3 {
         color: blue;
     }

     .player4 {
         color: rgb(192, 19, 163);
     }


 }

 button {
     color: var(--bs-primary);
     background-color: rgb(102, 225, 154);

     &:hover {
         color: var(--bs-primary);
         background-color: rgb(11, 127, 23);
     }
 }