.pageContant {
    min-height: 80vh;
    div{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin-inline:24rem;
        padding: 25px;
        background-color:peru;

        div{
            display: flex;
            flex-direction:row;
            
        }
        
        h4{
            color: var(--bs-primary);
        }
        span{
            color: var(--bs-primary);
        }
        .player1{
            color: red;
        }
        .player2{
            color: green;
        }
        .player3{
            color: blue;
        }
        .player4{
            color: rgb(192, 19, 163);
        }
        
    }
    
}