.pageContainer {
    background-color:var(--page-background);
    min-height: 100vh;
    width: 100vw;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 0.87rem;
}

.header {
    display: flex;
    align-items: center;
    justify-content: start;
    background-color: var(--page-header,rgb(247, 212, 244));
    height: 6.5rem;



    div {
        margin-left: 20px;

        h2 {
            color: var(--bs-primary);
        }

        h2:last-child {
            margin-left: 50px;

        }
    }

    img {
        height: 4.3rem;
        margin-left: 15px;
    }
}



.footer {
    display: flex;
    flex-direction: row;
    align-items: end;
    justify-content: space-between;
    position: absolute;
    background-color: rgb(247, 212, 244);
    bottom: 0;
    height: 3.5rem;
    width: 100%;
    
    h6 {
        margin-inline: 15px;
        color: rgb(82, 10, 134);

    }

}