.pageContainer {
    background-color: var(--page-background);
    min-height: 100vh;
    max-width: 100vw;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 0.97rem;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--page-header, rgb(247, 212, 244));
    padding: 0.75rem 1.75rem;
    

    .title {

        h2 {
            display: inline-block;
            color: var(--bs-primary);
        }

        img {
            height: 3.5rem;
        }
        img+h2{
            padding-left:1rem;
        }
    }


    .navlink {
        display: flex;
        justify-content: space-evenly;
        flex-direction: row;
        gap: 1.25rem;

        a {
            color: var(--bs-primary);
            text-decoration: none;

        }
    }
}



.footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: rgb(247, 212, 244);
    bottom: 0;
    height: 3.5rem;

    h6 {
        margin-inline: 15px;
        color: var(--bs-primary);

    }

}