.game {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgb(163, 149, 163);
    height: 82vh;

    .main {
        transform: scale(1.2);

    }

    .greenblue {
        display: flex;
    }

    .redyellow {
        display: flex;
    }

    td {
        background-color: aliceblue;
    }


    .green {
        display: flex;

        td {
            border: 2px solid black;
            width: 1.5rem;
            height: 1.83rem;
        }

        .greenstart {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 9rem;
            height: 11rem;
            background-color: green;
            border: 2px solid black;

        }

        .greenpath {
            display: flex;
            flex-direction: row;
        }

        .greenrow {
            background-color: green;
        }

        .triangle {
            width: 2px;
            height: 3rem;
            border-left: 38px solid green;
            border-bottom: 45px solid red;
            border-top: 40px solid blue;
        }

        .text {
            position: relative;
            right: 30px;
            bottom: 10px;
            color: black;
        }
    }

    .blue {
        display: flex;

        td {
            border: 2px solid black;
            width: 1.5rem;
            height: 1.83rem;
        }

        .bluepath {
            display: flex;
            flex-direction: column;
            margin-left: -38px;
        }

        .bluestart {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 9rem;
            height: 11rem;
            background-color: blue;
            border: 2px solid black;
        }

        .bluerow {
            background-color: blue;
        }

        &.triangle {
            width: 2px;
            height: 3rem;
            border-left: 38px solid green;
            border-bottom: 45px red solid;
            border-top: 40px solid blue;
        }

        .text {
            position: relative;
            right: -30px;
            color: black;
        }
    }

    .red {
        display: flex;


        td {
            border: 2px solid black;
            width: 1.5rem;
            height: 1.83rem;
        }

        .redpathandstart {
            display: flex;
            flex-direction: row;
        }


        .redstart {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 9rem;
            height: 11rem;
            background-color: red;
            border: 2px solid black;
        }

        .redrow {
            background-color: red;
        }
        .redpath{
            display: flex;
            flex-direction: column;
            margin-top: -41px;
        }

        &.triangle {
            width: 2px;
            height: 3rem;
            border-left: 38px solid green;
            border-bottom: 45px red solid;
            border-top: 40px solid blue;
        }

        .text {
            position: relative;
            right: -30px;
            height: 22px;
            color: black;
        }


    }

    .yellow {
        display: flex;
        flex-direction: row;

        td {
            border: 2px solid black;
            width: 1.5rem;
            height: 1.83rem;

        }

        .yellowstart {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 9rem;
            height: 11rem;
            background-color: yellow;
            border: 2px solid black;
        }

        .yellowpath {
            display: flex;
            margin-top: -88px;
            margin-left: -35px;
        }

        .yellowrow {
            background-color: yellow;
        }

        .triangle {
            width: 2px;
            height: 3rem;
            border-left: 0px solid green;
            border-right: 35px solid yellow;
            border-bottom: 45px solid red;
            border-top: 40px solid blue;
        }

        .text {
            position: relative;
            right: -20px;
            bottom: 10px;
            color: black;
        }
    }
}